<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>app_mode_loader</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.brave.Browser.app.failcdmbandepcnhakpnknohmfdgbpcm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Movieza</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>93.137</string>
	<key>CrAppModeIsAdhocSigned</key>
	<true/>
	<key>CrAppModeShortcutID</key>
	<string>failcdmbandepcnhakpnknohmfdgbpcm</string>
	<key>CrAppModeShortcutName</key>
	<string>Movieza</string>
	<key>CrAppModeShortcutURL</key>
	<string>https://abdjawabreh.github.io/Movieza/</string>
	<key>CrAppModeUserDataDir</key>
	<string>/Users/abd/Library/Application Support/BraveSoftware/Brave-Browser/-/Web Applications/_crx_failcdmbandepcnhakpnknohmfdgbpcm</string>
	<key>CrBundleIdentifier</key>
	<string>com.brave.Browser</string>
	<key>CrBundleVersion</key>
	<string>151.1.93.137</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>25F70</string>
	<key>DTSDKName</key>
	<string>macosx26.5</string>
	<key>DTXcode</key>
	<string>2650</string>
	<key>DTXcodeBuild</key>
	<string>17F42</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
